<div class="container">
	<div class="row">
		<div class="span12">
			<input type="text" id="nameInput" />
			<button id="greetButton" class="btn">Greet</button>
			<p id="greetingText"></p>
			<a href="#ListPlace:null" class="btn">Check out the List example</a>
		</div>
	</div>
	<div class="sourcecodelinks">
		<label>Source code:</label>
		<a href="http://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/java/com/doctusoft/gwt/light/client/index/IndexActivity.java"
			target="_blank">IndexActivity.java</a>
		<a href="http://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/java/com/doctusoft/gwt/light/client/index/IndexViewImpl.java"
			target="_blank">IndexViewImpl.java</a>
		<a href="https://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/webapp/templates/Index.html"
			target="_blank">Index.html</a>
			
	</div>
</div>