<div class="container">
	<div class="row">
		<div class="span12">
			<ul id="entityList">
				<li class="light-repeat-item">
					<div class="entityId"></div>
					<div class="entityName"></div>
					<button class="btn editButton">Edit</button>
					<button class="btn btn-danger removeButton">Remove</button>
				</li>
			</ul>
			<button id="addNewEntityButton" class="btn btn-primary">Add new</button>
		</div>
	</div>
	<div class="sourcecodelinks">
		<label>Source code:</label>
		<a href="http://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/java/com/doctusoft/gwt/light/client/list/ListActivity.java"
			target="_blank">ListActivity.java</a>
		<a href="http://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/java/com/doctusoft/gwt/light/client/list/ListViewImpl.java"
			target="_blank">ListViewImpl.java</a>
		<a href="https://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/webapp/templates/List.html"
			target="_blank">List.html</a>
		<label>Of the dialog:</label>
		<a href="http://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/java/com/doctusoft/gwt/light/client/list/NewEntityModalDialogPresenter.java"
			target="_blank">NewEntityModalDialogPresenter.java</a>
		<a href="http://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/java/com/doctusoft/gwt/light/client/list/NewEntityModalDialog.java"
			target="_blank">NewEntityModalDialog.java</a>
		<a href="https://github.com/Doctusoft/gwt-light/blob/master/mvp-example/src/main/webapp/templates/NewEntityModalDialog.html"
			target="_blank">NewEntityModalDialog.html</a>
	</div>
</div>