#entityList {
	list-style-type: none;
}
#entityList .entityId {
	display: inline-block;
	font-size: 16pt;
}
#entityList .entityName {
	display: inline-block;
}

.sourcecodelinks {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 10pt;
}
.sourcecodelinks a {
	display: block;
}